.barner {
  margin-top: 10px;
  background-image: url(../image/blog/img-barner-about.png);
  height: 275px;
}
.content-barner {
  font-size: 45px;
  color: white;
  padding-top: 70px;
}
.deatil-content {
  display: flex;
}

.content-detail {
  background-color: faf9f7;
}
.search-detail {
  margin-top: 100px;
}
.categories {
  margin-top: 48px;
}
.foodfarm-content {
  margin-left: 15px;
}
.number-foodfarm {
  margin-left: auto;
}
.hr {
  width: 15px;
  
}
.foodfarm {
  display: flex;
}
.img-layer29 {
  background-image: url(../image/blog/layer29.png);
  height: 220px;
  width: 270px;
}
.gallery {
  margin-top: 30px;
  color: #d1e0b9;
}
.oragnic-content {
  margin-top: 20px;
  margin-left: -15px;
}
.img-layer31 {
  margin-top: 30px;
  background-image: url(../image/blog/layer31.png);
  height: 220px;
  width: 270px;
}
.img-layer30 {
  margin-top: 30px;
  background-image: url(../image/blog/layer30.png);
  height: 220px;
  width: 270px;
}
.instagram {
  margin-top: 48px;
}
.date {
  margin-left: 30px;
  margin-top: 100px;
  display: flex;
}
.content-title {
  margin-left: 15px;
  font-size: 20px;
  margin-top: 10px;
}
.content-product {
  margin-left: 15px;
  margin-top: 40px;
  font-size: 16px;
  color: #6d6b6c;
}
.img-layer35 {
  margin-left: 15px;
  margin-top: 20px;
}
.title-cosmetic {
  margin-left: 15px;
  margin-top: 58px;
  font-size: 25px;
}
.detail-cosmetic {
  margin-left: 15px;
  margin-top: 30px;
  font-size: 16px;
  color: #6d6b6c;
}
.ul-detail-cosmetic {
  margin-left: 15px;
  margin-top: 35px;
  color: #6d6b6c;
}
.more-img {
  margin-top: 85px;
}

.title-more-img {
  margin-left: 15px;
  font-size: 25px;
}
.content-more {
  margin-left: 15px;
  margin-top: 33px;
  font-size: 16px;
}
.img-layer36 {
  margin-left: 15px;
  margin-top: 30px;
}
.title-layer36 {
  font-size: 14px;
  color: #b0adad;
  text-align: center;
}
.content-layer36 {
  margin-left: 15px;
  margin-top: 32px;
  font-size: 16px;
  color: #6d6b6c;
}
.layer33 {
  margin-top: 30px;
  margin-left: 15px;
}
.content-one-layer33 {
  margin-left: 49px;
}
.content-two-layer33 {
  margin-left: 49px;
  margin-top: 35px;
}
.content-three-layer33 {
  margin-left: 49px;
  margin-top: 35px;
}
.content-img-layer33 {
  margin-top: 30px;
  text-align: center;
}
hr.new3 {
  margin-top: 50px;
  border-top: 1px dotted;
}
.img-admin {
  margin-top: 60px;
}
.img-admin {
  display: flex;
}
.right-related {
  display: flex;
}
.contents-related {
  margin-top: 160px;
  margin-left: 32px;
}
.content-img-related {
  margin-top: 160px;
  margin-left: 32px;
}
.title-related {
  margin-top: 110px;
  margin-left: 40px;
}
.img-layer20 {
  position: relative;
  background-image: url(../image/blog/layer20.png);
  width: 270px;
  height: 270px;
}
.img-layer44 {
  background-image: url(../image/blog/layer44.png);
  width: 270px;
  height: 270px;
}
.date-related {
  margin: -60px 210px;
  position: relative;
  width: 60px;
  height: 60px;
  background: white;
}
.why-related {
  margin-top: 32px;
  font-size: 19px;
}
.read-more {
  margin-top: 43px;
  font-size: 19px;
  color: green;
}
.comment {
  background-color: #faf9f7;
}
.text-layer20 {
  position: absolute;
}
.comments {
  display: flex;
  margin-top: 110px;
}
.comment-num {
  margin: 105px 40px;
  font-size: 25px;
}
.date-comment {
  display: flex;
}
.my-div {
  margin-top: 35px;
  width: 60px;
  height: 60px;
  background: #569601;
}
.content-comment {
  margin-top: 35px;
  margin-left: 30px;
  font-size: 18px;
}
.admin-conment-one {
  display: flex;
}
.comment-admin {
  display: flex;
}
.readly-admin1 {
  color: #6d6b6c;
  display: flex;
  margin-left: 300px;
}
.evaluate-admin1 {
  font-size: 14px;
  text-align: center;
  letter-spacing: -3px;
  margin-left: 20px;
  border-radius: 5px;
  width: 35px;
  height: 25px;
  border: 1px solid;
}
.admin-content {
  margin: 25px 20px;
  font-size: 18px;
}
.img-admin-content {
  margin-top: 60px;
  display: flex;
}
.icon-admin {
  margin-left: 130px;
}
.icon-heart {
  margin-top: 80px;
  padding: 6px;
  display: flex;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  border: 1px solid #eaeae9;
}

.icon-face {
  margin-top: -5px;
  margin-left: 13px;
  padding: 7px 9px;
  display: flex;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: #6d6b6c;
  border: 1px solid #eaeae9;
}
.icon-twitter {
  margin-top: -5px;
  margin-left: 13px;
  padding: 6px;
  display: flex;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  color: #6d6b6c;
  border: 1px solid #eaeae9;
}
.icon-google {
  margin-top: -5px;
  margin-left: 13px;
  padding: 6px;
  display: flex;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  color: #6d6b6c;
  border: 1px solid #eaeae9;
}
.icon-pinterest {
  margin-top: -5px;
  margin-left: 13px;
  padding: 6px;
  display: flex;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  color: #6d6b6c;
  border: 1px solid #eaeae9;
}
.related-posts {
  display: flex;
}
.contnet-related {
  display: flex;
}
.title-related {
  font-size: 25px;
}
.contents-related-col1 {
  margin-top: 70px;
  font-size: 19px;
}
.content-related-col1 {
  margin-top: 40px;
  font-size: 15px;
  color: #569601;
}
.content-related-col2 {
  margin-top: 45px;
  font-size: 15px;
  color: #569601;
}
.contents-related-col3 {
  font-size: 19px;
  margin-top: 70px;
}
.content-related-col3 {
  margin-top: 45px;
  font-size: 15px;
  color: #569601;
}

.admin1 {
  color: green;
  padding-top: 30px;
  padding-left: 10px;
}
hr.new3 {
  border-top: 1px dotted;
}
.comment2-admin {
  display: flex;
  margin-left: 60px;
}
.comment2 {
  font-size: 18px;
  padding: 35px 24px;
}
.img2-admin {
  display: flex;
  margin-top: 30px;
}
.admin2 {
  color: green;
  margin: 15px 7px;
}
.readly-admin2 {
  color: #6d6b6c;
  display: flex;
  margin-left: 250px;
}
.evaluate-admin2 {
  font-size: 14px;
  text-align: center;
  letter-spacing: -3px;
  margin-left: 20px;
  border-radius: 5px;
  width: 35px;
  height: 25px;
  border: 1px solid;
}
.comment3-admin {
  display: flex;
}
.readly-admin3 {
  color: #6d6b6c;
  display: flex;
  margin-left: 300px;
}
.evaluate-admin3 {
  font-size: 14px;
  text-align: center;
  letter-spacing: -3px;
  margin-left: 20px;
  border-radius: 5px;
  width: 35px;
  height: 25px;
  border: 1px solid;
}
.write-comments {
  font-size: 25px;
  margin-top: 90px;
}
.write-comment {
  margin-top: 30px;
  font-size: 15px;
  color: #6d6b6c;
}
.name-comment {
  font-size: 16px;
  color: #6d6b6c;
  margin-top: 60px;
}
.input-name {
  margin-top: 20px;
}
.gmail-comment {
  font-size: 16px;
  color: #6d6b6c;
  margin-top: 60px;
}
.input-gmail {
  margin-top: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 45px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.enter-comment {
  margin-top: 30px;
  font-size: 15px;
  color: #6d6b6c;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 0px;
  cursor: pointer;
}
.button5 {
  border-radius: 50px;
}
.newsletters {
  background-image: url("../image/about-us/newsletter.png");
  height: 239px;
  display: flex;
}
.newsletters {
  background-image: url("../image/about-us/newsletter.png");
  height: 239px;
  display: flex;
  margin-top: 110px;
}
.newsletter-title {
  text-align: center;
}
.out-newsletter {
  margin-top: -180px;
  font-size: 35px;
  color: black;
  padding-top: 90px;
  padding-left: 14px;
}
.content-newsletter {
  font-size: 18px;
  color: #63665a;
}
.organic-newsletters {
  font-family: "Dancing Script", cursive;
  font-size: 114px;
  opacity: 0.2;
}
.newsletter-email {
  border-radius: 50px;
  border: 1px solid white;
  height: 53px;

  margin-top: 90px;
}
.content-email-address {
  padding-top: 7px;
}
.title-instagrams {
  margin-top: 72px;
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.organic-instagrams {
  font-family: "Dancing Script", cursive;
  font-size: 114px;
  opacity: 0.2;
  display: flex;
  justify-content: center;
}
.instagrams {
  justify-content: center;
  margin-top: -100px;
}
